//  Imports and React-MD config
@import '~react-md/src/scss/react-md';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import 'layout';

@import 'react-vis';


$md-light-theme: true; // optional for light theme
$md-primary-color: #ff009f;
$md-secondary-color: #d3d3d3;
//  Disable material design color compliance warnings
$md-colors-warn-md: false;

@include react-md-everything;

// Normalize
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
}
a {
  text-decoration: none;
}

//  Page layouts
article {
  margin: 16px 4px;
  max-width: 960px;
  @media screen and (min-width: 992px) {
    margin: 16px auto;
  }
}

.icon-text--raw {
  margin: 0;
  color: #5a5a5a;
}
